.search-box .clear{
    clear:both;
    margin-top: 20px;
}

.search-box ul{
    list-style: none;
    padding: 0px;
    width: 250px;
    position: absolute;
    margin: 0;
    background: white;
}

.search-box ul li{
    background: lavender;
    padding: 4px;
    margin-bottom: 1px;
}

.search-box ul li:nth-child(even){
    background: cadetblue;
    color: white;
}

.search-box ul li:hover{
    cursor: pointer;
}

.search-box input[type=text]{
    padding: 5px;
    width: 250px;
    letter-spacing: 1px;
}